<header class="top">

  <h1 id="community">{{ site.title | replace_first: " ", " <span class='blue'>"}}</span> <span class="subproduct">{{ site.subtitle }}</span></h1>

  <p class="pushline">{{page.excerpt}}</p>

    <p class="subtitle">
       {{page.excerpt_2}}
    </p>

    {%- for clicktoaction in page.header.actions -%}
  <button class="quickstart" onclick="window.location.href='{{ clicktoaction.url | relative_url }}'"><span>{{ clicktoaction.label }}</span>

  </button>


  {%- endfor -%}

  <p class="release">
    <a href="{{page.last_release.link | relative_url}}">{{page.last_release.label}}</a>
    <a href="{{page.release_note.link | relative_url}}">{{page.release_note.label}}</a>

  </p>

  {% include nav.html %}


</header>
