{%- assign page_paths = site.data.navigation.main -%}

<nav role="navigation" class="horizontal">
  <div id="menuToggle">
       <input type="checkbox" />
         <span></span>
         <span></span>
         <span></span>
        <div id="menu">
          {%- if page.layout != "home" -%}
          <a href="{{site.baseurl}}/" id="community">
            {{ site.title | replace_first: " ", " <span class='blue'>"}}</span> <span class="subproduct">{{ site.subtitle }}</span>
          </a>
          {%- endif -%}

          {%- if page_paths -%}
          <ul id="nav_principale">
            {%- for path in page_paths -%}
            {%- if path.title -%}
            <li><a class="page-link" href="{{ path.url | relative_url }}">
                {{ path.title | escape }}
              </a></li>
            {%- endif -%}
            {%- endfor -%}
            <li class="entity_logo">
              <a href="https://www.fairandsmart.com/" target="_blank"><img src="{{site.baseurl}}/assets/img/powered_white.svg" alt="Powered by fair&smart" /></a>
            </li>
          </ul>
          {%- endif -%}
        </div>
      </div>
</nav>
