.collection-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collection-element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 24px 0;

  &:nth-child(2n) {
    flex-direction: row-reverse;

    .text-container {
      margin-right: 12px;
    }
  }

  &:nth-child(2n+1) {
    .text-container {
      margin-left: 12px;
    }
  }

  img {
    max-width: 300px;
  }

  .text-container {
    flex: 3;

    h3 {
      margin: 0 !important;
    }
  }
}