

/*
color scheme
*/
$white:#fff;
$black:#000;
$blue: #4cbbda;
$darkblue: #006b88;
$orange: #e85419;
$darkorange: #b42100;
$grey: #575656;
$darkgrey: #262626;
$light: #f4f3f4;
$lightOrange:#f4f3f3;

$green:#24e889;


.blue
{
    color: $blue !important;
}

.darkblue
{
    color: $darkblue;
}

.orange
{
    color: $orange;
}

.darkorange
{
    color: $darkorange;
}

.grey
{
    color: $grey;
}

.darkgrey
{
    color: $darkgrey;
}

.light
{
    color: $light;
}
