@font-face {
  font-family: Open Sans;
  src: url('https://assets.fairandsmart.com/fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'),
  url('https://assets.fairandsmart.com/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
}
@font-face {
  font-family: Comfortaa;
  src: url('https://assets.fairandsmart.com/fonts/Comfortaa/Comfortaa-Regular.woff2') format('woff2'),
  url('https://assets.fairandsmart.com/fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
}