@font-face {
  font-family: Quicksand;
  src: url('https://assets.fairandsmart.tech/fonts/Quicksand/Quicksand-Regular.woff2') format('woff2'),
  url('https://assets.fairandsmart.tech/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: Quicksand;
  src: url('https://assets.fairandsmart.tech/fonts/Quicksand/Quicksand-Bold.woff2') format('woff2'),
  url('https://assets.fairandsmart.tech/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}

@font-face {
  font-family: Inter;
  src: url('https://assets.fairandsmart.tech/fonts/Inter/Inter-Regular.woff2') format('woff2'),
  url('https://assets.fairandsmart.tech/fonts/Inter/Inter-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url('https://assets.fairandsmart.tech/fonts/Inter/Inter-Bold.woff2') format('woff2'),
  url('https://assets.fairandsmart.tech/fonts/Inter/Inter-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}