/*
container
*/

body {
  font-family: 'Open Sans', sans-serif;
  background: #e2e2e2;
}

/*
header
*/




/* section generic styles */

section {
  position: relative;
  clear: both;
  padding-bottom: 60px;
  counter-reset: artNum;
  article {
    position: relative;
    display: block;
  }
  &.distri article {
    position: relative;
    max-width: 100%;
    h3 {
      font-size: 1.5em;
      font-weight: 400;
    }
    h4 {
      font-size: 1em;
      font-weight: 700;
      margin-bottom: 1em;
    }
    p {
      line-height: 1.2em;
    }
    li {
      line-height: 1.2em;
      position: relative;
      display: inline-block;
      margin-left: 40px;
      &:before {
        position: absolute;
        left: -20px;
        display: inline-block;
        content: '■';
      }
    }
  }
  &.distripara{
    p,
    h3{
      position: relative;
      max-width: 100%;
    }
  }
}






/*  award */


#award {
  display: block;
  padding: 110px 0;
  article {
    position: relative;
    left: 170px;
    max-width: 250px;
    img {
      position: absolute;
      top: -30px;
      left: -170px;
    }
    h3 {
      font-size: 1.1em;
      margin-bottom: .5em;
    }
    p {
      font-size: .8em;
    }
  }
}


/* repartition element graphique  */



.nbFeat-3 {
  background: $feat-3item 0 0 no-repeat;
  &.neutral {
    background: none;
  }
}


#useCases > h2 {
  background: $section-3 0 0 no-repeat;
}

#values > h2 {
  background: $section-5 0 0 no-repeat;
}

#plusValues > h2 {
  background: $section-6 0 0 no-repeat;
}


@include bg-illus('logow');

@include bg-illus('linkedin');

@include bg-illus('twitter');

@include bg-illus('youtube');

@include bg-illus('github');

@include bg-illus('rss');

@include bg-check('check');

@include bg-check('uncheck');

@include illus-element('ux','#');

@include illus-element('confiance','#');

@include illus-element('clone','.');

@include illus-element('goto','.');

.section4 {
  padding-bottom: 200px;
  &:after {
    position: absolute;
    bottom: 0;
    left: -138px;
  }
}

.container {
  padding: 110px 10px;
  background: $white;
}

button.quickstart {
  width: 301px;
  height: 60px;
  margin-bottom: 20px;
  border: none;
  background: url(../img/clicktoaction.svg) no-repeat top left;
  span {
    font-size: 1.5em;
    display: block;
    float: right;
    margin: 10px -20px 0 0;
    &:after {
      margin: 1em;
      content: url(../img/arrow-right.svg);
      vertical-align: middle;
    }
  }
}





/*
 Larger than mobile screen
 */



@media (min-width: 40.0rem) {
  .container {
    background: -webkit-linear-gradient(left, $white 50%, $light 50%);
    background: -o-linear-gradient(left, $white 50%, $light 50%);
    background: linear-gradient(to right, $white 50%, $light 50%);

      .single  &,.post &,.posts &,.categories &,.tags &{
        background: $white;


      }

    }

    button.quickstart {
      position: absolute;
      right:50%;

    }
    section.distripara{
      p,
      h3{
        position: relative;
        max-width: 50%;
      }
    }


  section.distri article:nth-child(2n) {
    margin-left: 60%;
  }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {

  .container {
      padding: 110px 70px;
      max-width: 144.0rem;
      background: -webkit-linear-gradient(left, $white 50%, $light 50%);
      background: -o-linear-gradient(left, $white 50%, $light 50%);
      background: linear-gradient(to right, $white 50%, $light 50%);

    }

  .single .container,
    .post .container,
    .posts .container {
   padding: 110px 70px;
    background: $white;
  }

  section.nbFeat-3 > article * {
    color: $white;
  }


  section.distri article {
    position: relative;
    max-width: 50%;
  }

  #award article {
    position: relative;
    margin-left: 50%;
    max-width: 250px;
    img {
      position: absolute;
      top: -30px;
      left: -170px;
    }
  }

}
