h1,
h2
{
    font-family: 'Comfortaa', sans-serif;
}


li:before
{
    color: $orange;
}



/* doc structure element */


#main {
display: block;
flex-direction: row;
justify-content: space-between;
}

  .page__content figure {
    display: -webkit-box;
    display: flex;
    margin: 2em 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .page__content img {
    width: auto\9;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
    border: 0;
  }

  pre {
    overflow-y:hidden;
    border-left: none;
    background: none;
  }

  span.command-copy {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    font-size: 20px;
    color: #FFF;
    &:hover {
      cursor: pointer;
    }
  }

  .responsive-video-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 0;
    margin-bottom: 1em;
    padding-bottom: 56.25%;
  }

  .responsive-video-container iframe,
    .responsive-video-container object,
    .responsive-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .highlight .s {
    color: $green;
  }

  .highlight .nv {
    color: $orange;
  }

  .highlight .nt {
    color: $blue;
  }

  code {
    display: block;
    white-space: pre;
    font-family: Monaco,Consolas,'Lucida Console',monospace;
    font-size: .85em;
    line-height: 1.8;
    position: relative;
    margin-bottom: 1em;
    color: #eff;
    border-radius: 4px;
    background: $darkgrey;
  }

  .notice--warning {
    font-size: 1em !important;
    margin: 2em 0 !important;
    padding: 1em;
    text-indent: initial;
    color: $darkgrey;
    border-radius: 4px;
    background-color: $light;
    box-shadow: 0 1px 1px rgba(214,127,5,.25);
  }

  .notice--info {
    font-size: 1em !important;
    margin: 2em 0 !important;
    padding: 1em;
    text-indent: initial;
    color: $darkgrey;
    border-radius: 4px;
    background-color: $light;
    box-shadow: 0 1px 1px rgba(59,156,186,.25);
  }

  .notice {
    font-size: 1em !important;
    margin: 2em 0 !important;
    padding: 1em;
    text-indent: initial;
    color: $darkgrey;
    border-radius: 4px;
    background-color: $light;
    box-shadow: 0 1px 1px rgba(189,193,196,.25);


  }

  #main article {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    a {
      color: $orange;
    }
    header > h1#page-title {
      max-width: 100% !important;
    }
  }


  .page__related{
      clear:both;

  }
  .back-to-top{
      clear:both;
      float: right;
      color: $orange;
          font-size: 0.8em;

  }
  .page__meta-readtime,.page__date{

        font-size: 0.8em;

  }
  .taxonomy__index{
      display: flex;
      flex-direction: column;
      li{
        display: flexbox;
        list-style: none;
        a{color: $orange}
        .taxonomy__count{
            font-size: 0.8em;
            &:before{
              content:'['
            }
            &:after{
              content:']'
            }

        }
      }
  }


@media (min-width: 40.0rem) {
    .single #main article {
        float: right;
        width: calc(100% - 240px);
    }
    .single.News #main article,
    .single.page #main article {
        float: right;
        width: 100%;
    }
    .posts #main,
    .News #main,
    .page #main {
        margin-left: 20px;
        margin-right: 20px;
    }
}




