---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// vendor
@import "vendor/normalize/normalize.scss";
@import "vendor/milligram/milligram.scss";
@import "vendor/fontawesome/fontawesome.scss";
@import "vendor/fontawesome/solid.scss";
@import "vendor/fontawesome/regular.scss";
@import "vendor/fontawesome/brands.scss";

// var
@import "illustration.scss";                   // illustration et mixin of this elements
@import "color.scss";                          // color schemes
@import "font.scss";                           // font csss


// structure
@import "elements/header.scss" ;               // header
@import "elements/nav.scss" ;                  // nav
@import "elements/features.scss" ;             // features
@import "elements/usecases.scss" ;             // useCases
@import "elements/values.scss" ;               // values
@import "elements/compare-table.scss" ;        // table
@import "elements/sidebar_right.scss" ;        // sidebar sticky
@import "elements/enterprise-aside.scss" ;     // sidebar entreprise
@import "elements/form.scss";                  // structural elements
@import "elements/footer.scss";                // footer
@import "elements/sociallist.scss";            // socialList


@import "typo.scss";                           // basique typo elements
@import "gen.scss";                            // structural elements
