@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css');


/*
container
*/

body
{
    font-family: 'Open Sans', sans-serif;

    background: #e2e2e2;
}



/*
color scheme
*/
.blue
{
    color: #4cbbda;
}

.darkblue
{
    color: #006b88;
}

.orange,
li:before
{
    color: #e85419;
}

.darkorange
{
    color: #b42100;
}

.grey
{
    color: #575656;
}

.darkgrey
{
    color: #262626;
}

.light
{
    color: #f4f3f4;
}

h1,
h2
{
    font-family: 'Comfortaa', sans-serif;
}

/*
header
*/


header
{
    position: relative;
}

header > h1
{
    font-weight: 300;
}

header > h1 > span
{
    font-weight: 700;
}

header > h1 > span + span
{
    font-size: .5em;
    font-weight: 700;

    display: block;
    clear: both;

    margin-left: 190px;
}

header > h1#product:after
{
    position: absolute;

    content: url('../img/powered.svg');
}

header.top > p,
header.subtop > p
{
    font-size: 1.125em;
    line-height: 1.2em;
}

header > p.pushline
{
    font-weight: 700;
}

header.top > nav.diagonale
{
    position: absolute;

    width: 330px;
    height: 331px;
}

header.top > nav.diagonale > div
{
    display: none;
}

header.top > nav.horizontal
{
    position: absolute;

    width: 1162px;
    height: 77px;
}
header.top > nav.horizontal > div
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

header.top > nav.horizontal > div > a#community,
header.top > nav.horizontal > div > ul#nav_principale
{
    display: flexbox;
}

a#community
{
    font-size: 1.2em;
    line-height: .8em;

    position: relative;

    padding: 15px 15px 15px 70px;

    color: #fff;
}
a#community > .subproduct
{
    font-size: .6em;

    display: block;
    clear: both;

    margin-left: 70px;
}

header.top > nav.horizontal > div > ul#nav_principale
{
    display: flex;

    padding: .5em 3em;

    flex-grow: 4;
    justify-content: flex-end;
    align-items: center;
}

header.top > nav.horizontal > div > ul#nav_principale li
{
    display: flexbox;

    padding: 0 1em;

    list-style: none;
}

header.top > nav.horizontal > div > ul#nav_principale li a
{
    color: #fff;
}

.socialList
{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.socialList li
{
    display: block;
}

.socialList a
{
    display: block;
    overflow: hidden;

    width: 16px;
    height: 16px;

    text-indent: -1000px;
}



/* section generic styles */

section
{
    position: relative;

    clear: both;

    padding-bottom: 60px;

    counter-reset: artNum;
}

section article
{
    position: relative;

    display: block;
}

section.distri article
{
    position: relative;

    max-width: 420px;
}

section.distripara p
{
    position: relative;

    max-width: 420px;
}


section article h3
{
    font-size: 1.5em;
    font-weight: 400;
}

section article p
{
    line-height: 1.2em;
}

section article h4
{
    font-size: 1em;
    font-weight: 700;

    margin-bottom: 1em;
}

section  article li
{
    line-height: 1.2em;

    position: relative;

    display: inline-block;

    margin-left: 40px;
}

section  article li:before
{
    position: absolute;
    left: -20px;

    display: inline-block;

    content: '■';
}




/* RightConsents */










/* usercases */


#useCases > h2 > span
{
    font-size: .5em;
    line-height: 1.2em;

    position: relative;
    top: 260px;
    left: 110px;

    display: inline-block;

    width: 180px;

    transform: perspective(20em) rotateY(-10deg) rotate(-15deg);

    color: #fff;
}

#useCases > h2 > span > strong
{
    font-size: 2.5em;
    line-height: 1em;

    display: inline-block;
}

#useCases article h3:before
{
    content: counter(artNum) ' - ';
    counter-increment: artNum;
}

#leadAcquisitionCase header:before,
#thirdPartyCase header:before
{
    position: relative;
}

/* Value */

#values > h2
{
    position: absolute;

    display: inline-block;
    float: right;

    width: 443px;
    height: 460px;
}

#values > h2 > span
{
    font-size: .5em;
    line-height: 1.2em;

    position: relative;
    top: 190px;
    left: 110px;

    display: inline-block;

    width: 180px;

    transform: perspective(50em) rotateY(15deg) rotateX(15deg) rotateZ(-1deg);

    color: #fff;
}

#values > h2 > span > strong
{
    font-size: 2.5em;
    line-height: 1em;

    display: inline-block;
}

.clone:before,
.goto:before
{
    position: absolute;
    top: 2px;
    left: -25px;
}



/* plusvalue */

#plusValues > h2
{
    position: absolute;

    display: inline-block;
    float: right;

    width: 490px;
    height: 371px;
}

#plusValues > h2 > span
{
    font-size: .5em;
    line-height: 1.2em;

    position: relative;
    top: 170px;
    left: 110px;

    display: inline-block;

    width: 280px;

    transform: perspective(50em) rotateY(-15deg) rotateX(15deg) rotateZ(2deg);

    color: #fff;
}

#plusValues > h2 > span > strong
{
    font-size: 2.1em;
    line-height: 1em;

    display: inline-block;
}


/* ressources */

#ressources
{
    display: flex;
    flex-direction: row;

    margin: 0 -70px;
    padding: 70px 40px;

    color: #fff;
    background-color: #575656;

    flex-wrap: wrap;
}

#ressources h2
{
    font-size: 1.2em;

    display: block;

    width: 100%;
    padding: 0 40px;
}

#ressources article
{
    width: 50%;
    padding: 0 40px;

    flex-shrink: 3;
}

#ressources h3
{
    font-size: 1em;
    font-weight: 700;

    margin-bottom: 10px;
}

#ressources p
{
    font-size: .95em;
}

#ressources a
{
    color: inherit;
}

#ressources a:after
{
    padding: 0 4px 0 2px;

    content: url('../img/link.svg');
}

/* demonstration */

#demo
{
    display: flex;
    flex-direction: row;

    margin: 0 -70px 110px;
    padding: 70px 40px;

    color: #fff;
    background-color: #575656;

    flex-wrap: wrap;
}

#demo h2
{
    font-size: 1.2em;

    display: block;

    width: 100%;
    padding: 0 40px;
}

#demo article
{
    position: relative;

    width: 100%;
    padding: 0 40px;

    flex-shrink: 3;
}

#demo article img
{
    width: 100%;

    box-shadow: 30px 20px 20px rgba(0,0,0,.2);
}

#demo article h3
{
    font-size: .9em;

    position: absolute;
    top: 100px;
    left: 30px;

    width: 75%;
    padding: .4em 1em;

    background: #e85419;
    box-shadow: 20px 5px 5px rgba(0,0,0,.2);
}

#demo article p
{
    font-size: .8em;
}

#demo:after
{
    position: absolute;
    bottom: -62px;
    left: 0;
}

/*  connecteurs */


#connecteurs
{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#connecteurs h2
{
    display: block;

    width: 100%;
}

#connecteurs article
{
    position: relative;

    width: 50%;
    padding: 20px;

    flex-shrink: 3;
}



/*  award */


#award
{
    display: block;

    padding: 110px 0;
}

#award article
{
    position: relative;
    left: 170px;

    max-width: 250px;
}

#award article img
{
    position: absolute;
    top: -30px;
    left: -170px;
}

#award article h3
{
    font-size: 1.1em;

    margin-bottom: .5em;
}

#award article p
{
    font-size: .8em;
}


/* footer */

footer.bottom
{
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 110px -20px -110px;
    padding: 70px 40px;

    color: #fff;
    background-color: #e85419;

    flex-wrap: wrap;

}
p.legal{
  clear: both;
  display: block;
  position: absolute;
  font-size: 0.7em;
  text-align: center;
  left: 0 !important;right: 0 !important;bottom:5px !important;
  margin:0 !important;
  color: #FFF;
}
p.legal a{
color: #FFF;

}

footer.bottom a
{
    color: inherit;
}

footer.bottom:before
{
    position: absolute;
    top: -63px;
    left: 0;
}

.logow
{
    overflow: hidden;

    width: 170px;
    height: 75px;

    text-indent: -2000px;
}

footer.bottom nav > ul
{
    display: flex;
    flex-direction: row;

    padding: 0;

    flex-wrap: no-wrap;
}

footer.bottom nav > ul > li
{
    display: block;

    padding: 30px 10px;
}

footer.bottom nav > ul > li > a
{
    font-size: .8em;
    font-weight: 700;
}

footer.bottom nav > ul > li > ul
{
    display: block;
    flex-direction: column;

    margin: 0 5px;
}

footer.bottom nav > ul > li > ul > li
{
    line-height: 1.1em;

    display: block;

    margin: 0 0 .8em;
}

footer.bottom nav > ul > li > ul > li > a
{
    font-size: .8em;
}

footer.bottom nav > ul > li > ul > li > span
{
    font-size: .6em;

    display: block;
}

aside.incitive
{
    display: flex;
    flex-direction: column;

    margin-top: 30px;
}

aside.incitive button
{
    display: block;

    height: auto;
    padding: 1em;

    border: 1px solid #fff;
    background: none;
}

aside.incitive button span
{
    line-height: 1.2em;

    display: block;
}


/* repartition element graphique  */



header.top > nav.diagonale
{
    background: url('../img/section-1.svg') 0 0 no-repeat;
}

header.top > nav.horizontal
{
    background: url('../img/bgmenu.svg') 0 0 no-repeat;
}

.nbFeat-3
{
    background: url('../img/feat-3item.svg') 0 0 no-repeat;
}

#secondaire_features h2:before
{
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;

    content: url('../img/section-3-var.svg');
}



#useCases > h2
{
    background: url('../img/section-3.svg') 0 0 no-repeat;
}

#values > h2
{
    background: url('../img/section-5.svg') 0 0 no-repeat;
}

#plusValues > h2
{
    background: url('../img/section-6.svg') 0 0 no-repeat;
}

#demo:after
{
    content: url('../img/section-9.svg');
}

footer.bottom:before
{
    content: url('../img/section-10.svg');
}

.logow
{
    background: url('../img/fair_smart_logo_w.svg') 0 0  no-repeat;
}

.Linkedin
{
    background: url('../img/linkedin.svg') 0 0 no-repeat;
}

.twitter
{
    background: url('../img/twitter.svg') 0 0 no-repeat;
}

.youtube
{
    background: url('../img/youtube.svg') 0 0 no-repeat;
}

.github
{
    background: url('../img/github.svg') 0 0 no-repeat;
}
.rss
{
    background: url('../img/rss.svg') 0 0 no-repeat;
}

#compare table tbody td.check
{
    background-image: url('../img/check.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#compare table tbody td.uncheck
{
    background-image: url('../img/uncheck.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#ux:before
{
    content: url('../img/illustration_UX.svg');
}

#confiance:before
{
    content: url('../img/illustration_Confiance.svg');
}

.clone:before
{
    content: url('../img/clone.svg');
}

.goto:before
{
    content: url('../img/goto.svg');
}

#leadAcquisitionCase header:before
{
    content: url('../img/megaphone.svg');
}

#thirdPartyCase header:before
{
    content: url('../img/prise.svg');
}

.section4
{
    padding-bottom: 200px;
}

.section4:after
{
    position: absolute;
    bottom: 0;
    left: -138px;
}


/*



 section adjustement responsive



 */

/*



mobile




 */

.container
{
    padding: 110px 10px;

    background: #fff;
}

#LandingPageRightConsents h1:before
{
    position: relative;
    top: -40px;

    display: block;

    width: 100%;

    content: url('../img/illus-LandingPagerRightConsents-small.svg');
    text-align: center;
}

#LandingPageRightConsentsCommunity.home h1:before
{
    position: relative;

    display: block;
    float: right;

    width: 100%;

    content: url('../img/screen.png');
    text-align: center;
}

header > h1
{
    font-size: 1.8em;
}

header > h1#product:after
{
    position: relative;

    float: right;
}

header.top > p,
header.subtop > p
{
    clear: both;

    width: 100%;
}

header.top > nav.diagonale
{
    top: -110px;
    right: -140px;
}

header.top > nav.horizontal
{
    top: -110px;
    right: -105px;
}

aside.bandeau-traversant
{
    position: relative;
    z-index: 100;

    display: flex;
    flex-direction: column;
}

aside.bandeau-traversant button
{
    font-size: 1em;
    font-weight: 500;
    line-height: 1.2em;

    display: block;

    width: 100%;
    height: auto;
    margin: 60px 0;
    padding: 10px;

    vertical-align: top;
    white-space: normal;
    text-transform: inherit;

    border: 1px solid gray;
    background: none;
    background: linear-gradient(135deg, #434343 0%,#706f6f 100%);
    box-shadow: 12px 12px 30px 1px rgba(0, 0, 0, .2);
}

aside.bandeau-traversant button span
{
    display: block;
}

aside.bandeau-traversant button .texte .productName
{
    font-size: 1.5em;
    line-height: 1.4em;
}

aside.bandeau-traversant button .texte .productName em
{
    font-style: normal;
}


/*
>   Use Cases
*/

#useCases > h2
{
    position: absolute;
    left: -105px;

    display: inline-block;

    width: 505px;
    height: 460px;
}

#leadAcquisitionCase header:before
{
    position: absolute;
    top: -200px;
    left: -10px;
}

#thirdPartyCase header:before
{
    position: absolute;
    top: -150px;
    right: -30px;
}

#leadAcquisitionCase
{
    padding-top: 700px;
}

#thirdPartyCase
{
    margin-top: 120px;
}

#values,
#plusValues
{
    padding-top: 300px;
}

#values > h2
{
    top: -150px;
    right: -124px;
}

#plusValues > h2
{
    top: -80px;
    left: -117px;
}

#compare table tr > th + th,
#compare table tr td
{
    font-size: .9em;

    text-align: center;

    color: #fff;
    background-color: #4cbbda;
}

#compare table tr > th + th + th,
#compare table tr > td + td
{
    background-color: #e85419;
}

#compare table tfoot a
{
    color: #fff;
} ;

section.distri article
{
    position: relative;

    max-width: 100%;
}

section#values article:before
{
    display: block;

    max-width: 100%;

    text-align: center;
}


/*

feature

*/


#secondaire_features > h2
{
    position: relative;
    z-index: 100;
    top: -80px;
    left: -176px;

    display: inline-block;

    width: 540px;
    padding: 125px 0 0 120px;

    color: #fff;
}
#secondaire_features > h2 > strong
{
    font-weight: 400;

    display: inline-block;

    transform: perspective(50em) rotateY(-15deg) rotateX(15deg) rotateZ(2deg);
}


button.quickstart{

    background: url(../img/clicktoaction.svg) no-repeat top left;
    border: none;
    width: 301px;
    height: 60px;
    margin-bottom: 20px;


}
button.quickstart span{
  display: block;
  float: right;
  margin:10px -20px 0 0;
  font-size: 1.5em;
}

button.quickstart span:after{
  content: url(../img/arrow-right.svg);
  vertical-align: middle;
  margin: 1em;
}


header p.release{font-size: 0.8em !important}
header p.privacy{font-size: 0.7em !important}
header p.privacy a,header p.release a{color: #575656;text-decoration: underline;}



/*
 Larger than mobile screen
 */



@media (min-width: 40.0rem)
{
    .container
    {
        background: #fff url('../img/bgbeige.gif') center repeat-y;
    }
    .single .container
    {
        background: #fff url('../img/bgbeige2.gif') center repeat-y;
    }
    aside.bandeau-traversant
    {
        flex-direction: row;
    }

    #leadAcquisitionCase header:before
    {
        position: absolute;
        top: -150px;
        left: -30px;

        content: url('../img/megaphone.svg');
    }

    #thirdPartyCase header:before
    {
        position: absolute;
        top: -150px;
        right: -45px;

        content: url('../img/prise.svg');
    }

    #leadAcquisitionCase
    {
        padding-top: 0;
    }

    #thirdPartyCase
    {
        margin-top: -400px;
    }

    #connecteurs article
    {
        width: 33%;
    }

    #demo article
    {
        width: 50%;
    }

    #LandingPageRightConsents h1:before
    {
        position: absolute;
        top: -70px;
        left: 110%;

        width: 420px;

        content: url('../img/illus-LandingPagerRightConsents.svg');
    }

    #LandingPageRightConsentsCommunity.home h1:before
    {
        position: absolute;
        top: 60px;
        left: 70%;

        width: 420px;

        content: url('../img/screen.png');
    }

    header > h1,
    header p.subtitle,
    header p.pushline,
    section#intro article,
    section#useCases article,
    section#values article,
    section#plusValues article
    {
        position: relative;

        max-width: 50%;
        padding-right: 30px;
        padding-left: 30px;
    }

    section.distri article:nth-child(2n)
    {
        margin-left: 50%;
    }




    /* sidenav */


    #main
    {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
    }

    #main .sidebar
    {
        display: flexbox;
    }
    #main #ac-toc,
    #main #ac-toc + label
    {
        display: none;
    }


    #main .sidebar ul
    {
        display: flex;
        flex-direction: column;

        margin-left: 0;
    }
    #main .sidebar ul li
    {
        display: flexbox;

        margin-bottom: 5px;


        list-style: none;
    }

    #main .sidebar ul li a
    {
        color: #000;
    }
    #main .sidebar ul li a.active
    {
        color: #de3400;
    }

    #main .sidebar .nav__sub-title
    {
        font-weight: 700;
    }
    #main .sidebar__right
    {
        float: right;

        margin: 0 0 40px 40px;
    }
    #main .sidebar__right .toc
    {
        font-size: .9em;

        color: #7a8288;
        border: 1px solid #f2f3f3;
        border-radius: 4px;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.125);
                box-shadow: 0 1px 1px rgba(0,0,0,.125);
    }
    #main .sidebar__right .toc h4
    {
        font-size: 1em;
        font-weight: 700;

        display: block;

        margin: 0;
        padding: 1em 1em;

        color: #fff;
        background: #575656;
    }
    #main .sidebar__right .toc h4:before
    {
        content: url(../img/goto.svg);
        vertical-align: middle;
    }

    #main .sidebar__right .toc ul
    {
        margin: 0;
        padding: 0;
    }


    #main .sidebar__right .toc li
    {
        margin: 0;

        list-style: none;
    }


    #main .sidebar__right .toc li a
    {
        font-weight: 700;

        display: block;

        padding: .4em 1em;

        color: #000;
        border-bottom: 1px solid #f2f3f3;
    }  #main .sidebar__right .toc li li a
    {
        font-weight: 400;

        padding: .4em 2em;

        color: #000;
    }

    #main article
    {
        display: flexbox;

        width: 700px;
    }
    #main article  header > h1#page-title
    {
        max-width: 100% !important;
    }


    #main .responsive-video-container
    {
        position: relative;

        overflow: hidden;

        max-width: 100%;
        height: 0;
        margin-bottom: 1em;
        padding-bottom: 56.25%;
    }
    .responsive-video-container iframe,
    .responsive-video-container object,
    .responsive-video-container embed
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem)
{
    header > h1
    {
        font-size: 2.5em;
    }

    header > h1,
    header p.subtitle,
    header p.pushline,
    section#intro article
    {
        padding-right: 0;
        padding-left: 0;
    }

    .container
    {
        padding: 110px 70px;

        background: #fff url('../img/bgbeige.gif') left repeat-y;
    }

    .single .container
    {
        padding: 110px 70px;

        background: #fff url('../img/bgbeige2.gif') left repeat-y;
    }


    #LandingPageRightConsents h1:before
    {
        position: absolute;
        top: 100px;
        left: 285px;

        width: 420px;

        content: url('../img/illus-LandingPagerRightConsents.svg');
    }

    header > h1#product:after
    {
        position: absolute;
        left: 410px;

        margin-top: 5px;
    }

    header.top > p,
    header.subtop > p
    {
        max-width: 290px;

        text-align: left;
    }

    /*
  >>
  >> bandeau traversant avec bouton
  >>
  >>
 */

    aside.bandeau-traversant
    {
        position: relative;
        left: -152px;

        width: 1281px;
        height: 487px;
        margin-bottom: -150px;
    }

    aside.bandeau-traversant
    {
        background: url('../img/section-2.svg') 0 0 no-repeat;
    }

    aside.bandeau-traversant .community
    {
        background: url('../img/bouton-1.svg') 0 0 no-repeat;
    }

    aside.bandeau-traversant .enterprise
    {
        background: url('../img/bouton-2.svg') 0 0 no-repeat;
    }

    aside.bandeau-traversant button.community
    {
        top: 70px;
        left: 180px;
    }

    aside.bandeau-traversant button.enterprise
    {
        top: 200px;
        left: 700px;
    }

    aside.bandeau-traversant button
    {
        font-size: .75em;

        position: absolute;

        margin: inherit;

        vertical-align: top;

        border: none;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    aside.bandeau-traversant button .texte
    {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.4em;

        position: relative;

        display: inline-block;

        text-align: left;
        vertical-align: top;
        text-transform: none;

        color: #fff;
    }

    aside.bandeau-traversant button .texte span
    {
        display: block;
    }

    aside.bandeau-traversant button .texte .productName
    {
        font-size: 1.5em;
        line-height: 1.4em;
    }

    aside.bandeau-traversant button .texte .productName em
    {
        font-style: normal;
    }

    aside.bandeau-traversant button.community .texte
    {
        top: -30px;
        left: -20px;

        transform: perspective(50em) rotateY(-10deg) rotateX(5deg) rotateZ(16deg);
    }

    aside.bandeau-traversant .community
    {
        width: 404px;
        height: 257px;
    }

    aside.bandeau-traversant .enterprise
    {
        width: 416px;
        height: 226px;
    }

    aside.bandeau-traversant button.enterprise .texte
    {
        top: -26px;
        left: -30px;

        transform: perspective(50em) rotateY(15deg) rotateX(5deg) rotateZ(10deg);
    }

    header.top > nav.diagonale
    {
        top: -110px;
        right: -140px;
    }

    header.top > nav.horizontal
    {
    }

    /*

features_list


*/




    section.features
    {
        position: relative;
        left: -142px;

        display: flex;
        flex-direction: row;

        width: 1271px;
        height: 346px;
        margin: 180px 0 120px;
        padding: 0 131px 0 125px;
    }

    section.features > article
    {
        display: flexbox;

        padding: 50px;
    }

    section.nbFeat-3 > article *
    {
        color: #fff;
    }



    /*
>
>
>   Use Cases
>
>
*/

    #useCases > h2
    {
        position: absolute;
        left: -165px;

        display: inline-block;

        width: 505px;
        height: 460px;
    }

    #leadAcquisitionCase header:before
    {
        position: absolute;
        top: -150px;
        left: -60px;

        content: url('../img/megaphone.svg');
    }

    #thirdPartyCase header:before
    {
        position: absolute;
        top: -150px;
        right: -45px;

        content: url('../img/prise.svg');
    }




/*

encart Entreprise

*/

aside.enterprise{
  display: block;
  position: absolute;
  right: -90px;
  width: 433px;
  height: 361px;
  background: url(../img/encartorange.svg) no-repeat top right;

}
aside.enterprise > ul{
  width: 433px;
  padding:60px 50px 0px 30px;
  color: #FFF;
}
aside.enterprise > ul > li{
  list-style: square;
}

button.enterprise_click{
  background: url(../img/fondbouton.svg) no-repeat top left;
  border: none;
  position: relative;
  left:-14px;
  top:-15px;
  height: 103px;
  width: 365px;

}
button.enterprise_click span:after{
  content: url(../img/arrow-right.svg);
  position: relative;
  top:-5px;
  right: -10px
}
button.enterprise_click span{
  display: block;
  line-height: 0.9em;
}

    /*
>
>
>   Valeur
>
>
*/

    .section4:after
    {
        content: url('../img/section-4.svg');
    }

    #values,
    #plusValues
    {
        padding-top: 0;
    }

    #values > h2
    {
        top: 120px;
        right: -184px;
    }

    #plusValues > h2
    {
        top: -120px;
        left: -177px;
    }

    section.distri article,
    section.distripara p
    {
        margin-bottom: 120px;
    }

    section.distri article:nth-child(2n)
    {
        margin-left: 50%;
    }

    section.distripara p:nth-child(2n+1)
    {
        left: 540px;
    }


    section#values article:nth-child(2n+1),
    section#plusValues article:nth-child(2n+1),
    section.distripara p:nth-child(2n)
    {
        text-align: right;
    }

    section#values article:before
    {
        position: absolute;
        right: -150px;
    }

    section#values article:nth-child(2n):before
    {
        left: -300px;
    }

    #leadAcquisitionCase footer
    {
        position: absolute;
        z-index: 100;
        right: -140px;

        margin-top: -60px;
    }

    #leadAcquisitionCase
    {
        margin-top: 0;
        padding-top: 0;
        padding-left: 60px !important;
    }

    #thirdPartyCase
    {
        margin-top: 0 !important;
        padding-left: 0 !important;
    }

    #ressources
    {
        margin: 0 -110px;
    }

    #demo
    {
        margin: 0 -110px 110px;
    }

    #demo article
    {
        width: 33%;
    }

    #connecteurs article
    {
        width: 20%;
    }

    section.distri article
    {
        position: relative;

        max-width: 440px;
    }

    #award article
    {
        position: relative;
        left: 500px;

        max-width: 250px;
    }

    #award article img
    {
        position: absolute;
        top: -30px;
        left: -170px;
    }


    /* compare */

    #compare:before
    {
        position: absolute;
        right: -190px;

        content: url('../img/section-7.svg');
    }

    #compare
    {
        min-height: 1264px;
    }

    #compare > h2
    {
        display: none;
    }

    #compare table
    {
        float: right;

        width: 860px;
        margin-right: 42px;

        color: #fff;
    }

    #compare table a
    {
        color: inherit;
    }

    #compare table thead > tr > th + th
    {
        width: 308px;
        padding: 100px 80px 20px;
    }

    #compare table thead th
    {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1.2em;
        font-weight: 500;

        text-align: center;

        border-bottom: none;
    }

    #compare table tbody th
    {
        font-size: .95em;
        font-weight: 500;
        line-height: 1.1em;

        padding: 1em 40px 1em 0;
    }

    #compare table tfoot td
    {
        border-bottom: none;
    }

    #compare table tfoot > tr > td + td
    {
        font-size: .7em;

        padding: 40px 50px 10px 80px;
    }

    #compare table tfoot > tr.price > td + td
    {
        font-size: .7em;

        padding: 10px 50px 10px 60px;
    }

    #compare table tfoot > tr > td + td span
    {
        font-size: 1.4em;
        font-weight: 700;

        position: relative;

        display: block;
    }

    #compare table tfoot > tr > td + td strong
    {
        font-size: 2em;
        font-weight: 700;

        vertical-align: middle;
    }

    #compare table tr > th + th,
    #compare table tr td
    {
        background-color: inherit;
    }

    #compare table tr > th + th + th,
    #compare table tr > td + td
    {
        background-color: inherit;
    }

    footer.bottom
    {
        margin: 110px -110px -110px;

        flex-wrap: no-wrap;
    }

    footer.bottom nav > ul
    {
        padding: 0 20px;
    }
    #main .sidebar__right
    {
        float: right;

        margin: 0 -40px 40px 40px;
    }
}
