/* general */

#connecteurs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  h2 {
    display: block;
    width: 100%;
  }
  article {
    position: relative;
    width: 50%;
    padding: 20px;
    flex-shrink: 3;
  }
}


/* mobile */



/*   Larger than mobile screen   */
@media (min-width: 40.0rem)
{

    #connecteurs article {
      width: 33%;
    }
}
/*   Larger than tablet screen   */
@media (min-width: 80.0rem)
{

  #connecteurs article {
    width: 20%;
  }

}
