aside.form{
      display: block;
}


#sib-container{
  background: none;
}

aside.form .column{
    display: flex;
    flex-direction: row;

}

aside.form .column .sib-form-block{

      display: flexbox;

}
.sib-form .form__label-row>.entry__field>input.input{

  height: calc(2.7rem + 6px);
}
.sib-sms-select>.sib-sms-select__number-input>.sib-sms-select__calling-code{
  border: none;
  background: none;
}
.sib-sms-select>.sib-sms-select__number-input>.sib-sms-select__phone-number{
  border: none;
  background: none;
}

.entry__choice p{
  font-size: 12px;

}

.sib-form .entry__error{
  font-size: 11px;
}



@media (min-width: 80.0rem) {


    aside.form{
        display: block;
        position: absolute;
        top:0px;
        width: 490px;
        right:-40px;
    }
}
