/* generic */




header {
  position: relative;
  > h1 {
    font-weight: 300;
    text-align: right;
    font-size: 3em;
    > span {
      font-weight: 700;

    }
    > span + span {
      font-size: .5em;
      display: block;
      clear: both;
    }
    &#product:after {
      position: absolute;
      content: $powered;
    }
  }

  &.top{
    >p{
        font-size: 1.125em;
        line-height: 1.2em;
          clear: both;
          width: 100%;
        &.pushline {
          font-weight: 700;
          font-size: 2em;
          font-weight: 400;
          max-width: 100%;
          margin: 2em 0 1em;
          padding-right: 1em;
        }
        &.subtitle {
          font-size: 1em;
          padding-right: 1em;
          max-width: 100%;
        }
        &.release {
          font-size: .8em !important;
          a{
            text-decoration: underline;
            color: $grey;
          }
        }
        &.privacy {
          font-size: .7em !important;
          a{
            text-decoration: underline;
            color: $grey;
          }
        }

    }

  }
  &.subtop{
    >p{
      font-size: 1.125em;
      line-height: 1.2em;
        clear: both;
        width: 100%;
    }
  }
}

#LandingPageRightConsents h1:before {
  position: relative;
  top: -40px;
  display: block;
  width: 100%;
  content: $illusRightConsents-small;
  text-align: center;
}

#LandingPageRightConsentsCommunity.home h1:before {
  position: relative;
  display: block;
  float: right;
  width: 100%;
  content: $screen;
  text-align: center;
}


header.top > p,
header.subtop > p {
  clear: both;
  width: 100%;
}



/* mobile */


/* Larger than mobile screen */
@media (min-width: 40.0rem) {
  header > h1 {
    font-size: 3em;
    max-width: 50%;
    padding-right:20px !important;

  }

  header.top{
    >p{
        font-size: 1.125em;
        line-height: 1.2em;
        padding-right:20px !important;
        text-align: right;
          clear: both;
          width: 50%;
        &.pushline {
          font-weight: 700;
          font-size: 2em;
          font-weight: 400;
          max-width: 50%;
          margin: 2em 0 1em;
          padding-right: 1em;
          text-align: right;

        }
        &.subtitle {
          font-size: 1em;
          padding-right: 1em;
          max-width: 50%;
        }
  }
}

  #LandingPageRightConsents h1:before {
    position: absolute;
    top: -70px;
    left: 110%;
    width: 420px;
    content: url('../img/illus-LandingPagerRightConsents.svg');
  }

  #LandingPageRightConsentsCommunity.home h1:before {
    position: absolute;
    top: 30px;
    left: 100%;
    width: 420px;
    content: url('../img/screen.png');
  }

  header > h1,
    header p.subtitle,
    header p.pushline,
    section#intro article,
    section#useCases article,
    section#values article,
    section#plusValues article {
    position: relative;
    padding-right: 30px;
    padding-left: 30px;
  }
}


/* Larger than tablet screen */
@media (min-width: 80.0rem) {
  header > h1 {
    font-size: 3em;
    max-width: 50%;

  }

  header > h1#product:after {
    position: absolute;
    margin-top: 5px;
  }

  #LandingPageRightConsents h1:before {
    position: absolute;
    top: 100px;
    left: 285px;
    width: 420px;
    content: $illusRightConsents;
  }

  header > h1,
    header p.subtitle,
    header p.pushline,
    section#intro article {
    padding-right:20px !important;
    text-align: right;
  }

  header.top > p {
    max-width: 50%;
    margin-right:0;
  }
}
