/* sidenav */
/* generic */


.author__content,.author__urls-wrapper{
  display: none;
}




@media (max-width: 40.0rem) {
  #main{


    .sidebar.sticky {
      position: fixed;
      z-index: 500;
      top:60px;
      left:0px;


      label{
          position: absolute;
          z-index: 2;
          top:15px;
          margin-left:18px;
          content: url(../../assets/img/gotoblack.svg);
          transition: opacity 0.55s ease;

      }


      input{
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-user-select: none;
        user-select: none;
        &:checked{
          ~ ul{
            transform: none;
          }
          ~ label{
          content: url(../../assets/img/goto.svg);
          transform: rotate(180deg);

          }
        }
      }




      .nav__items{
        z-index: 1;
        position: absolute;
        overflow-y: scroll;
        width: 110vw;
        height: 100vh;
        background-color: $grey;
        padding: 12px 60px 90px;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

        li{
          list-style: none;
            .nav__sub-title {
              font-weight: 700;
              color: $white;
            }
        }
        ul {
          display: flex;
          flex-direction: column;
          margin-left: 0;
            color: $white;
          li {
            display: flexbox;
            margin-bottom: 3px;
            list-style: none;
            a {
              color:$white;
              &.active {
                color: $blue;
              }
            }
            span.nav__sub-title {
              font-weight: 700;
              color: $white;
            }
          }

        }


      }

    }
  }

}

  .sidebar__right {
    margin: 0 10px 40px 10px;








    .toc {
      font-size: .9em;
      color: #7a8288;
      border: 1px solid #f2f3f3;
      border-radius: 4px;
      background-color: $white;
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.125);
      box-shadow: 0 1px 1px rgba(0,0,0,.125);
      h4 {
        font-size: 1em;
        font-weight: 700;
        display: block;
        margin: 0;
        padding: 1em 1em;
        color: $white;
        background: $grey;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          list-style: none;
          a {
            font-weight: 700;
            display: block;
            padding: .4em 1em;
            color: #000 !important;
            border-bottom: 1px solid #f2f3f3;
          }
          li a {
            font-weight: 400;
            padding: .4em 2em;
            color: #000  !important;
          }

        }
      }

    }
  }

/* mobile */


/* Larger than mobile screen */


/* Larger than tablet screen */
@media (min-width: 40.0rem) {

#main{
  .sidebar.sticky {
       position: sticky !important;
       top: 2em;
       display: block;
       float: left;
       overflow-y: auto;
       width: calc(250px - 2em);
       max-height: calc(100vh - 2em - 2em);
   }
    &:after {
      display: table;
      clear: both;
      content: '';
    }
    #ac-toc, #ac-toc + label {
      display: none;
    }

}






  .sidebar{

    ul {
      display: flex;
      flex-direction: column;
      margin-left: 0;
      li {
        display: flexbox;
        margin-bottom: 5px;
        list-style: none;
        a {
          color: #000;
          &.active {
            color: #de3400;
          }
        }
      }
    }
    .nav__sub-title {
      font-weight: 700;
    }
  }


  .sidebar__right {
    float: right;

  }






}


@media (min-width: 80.0rem) {
  #main{
      .sidebar.sticky {
         margin-left: -40px;
  }}

}
