
.socialList {
  display: flex;
  flex-direction: row;
  min-width: 200px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  li {
    display: block;
  }
  a {
    display: block;
    overflow: hidden;
    width: 16px;
    height: 16px;
    text-indent: -1000px;
  }
}
