/* general */

#values{
  > h2 {
    position: absolute;
    display: inline-block;
    float: right;
    width: 443px;
    height: 460px;
    > span {
      font-size: .5em;
      line-height: 1.2em;
      position: relative;
      top: 190px;
      left: 110px;
      display: inline-block;
      width: 180px;
      transform: perspective(50em) rotateY(15deg) rotateX(15deg) rotateZ(-1deg);
      color: $white;
      > strong {
        font-size: 2.5em;
        line-height: 1em;
        display: inline-block;
      }
    }
  }
}

#plusValues{
  > h2 {
    position: absolute;
    display: inline-block;
    float: right;
    width: 490px;
    height: 371px;
    > span {
      font-size: .5em;
      line-height: 1.2em;
      position: relative;
      top: 170px;
      left: 110px;
      display: inline-block;
      width: 280px;
      transform: perspective(50em) rotateY(-15deg) rotateX(15deg) rotateZ(2deg);
      color: $white;
      > strong {
        font-size: 2.1em;
        line-height: 1em;
        display: inline-block;
      }
    }
  }


}


.clone,.goto{
  &:before {
    position: absolute;
    top: 2px;
    left: -25px;
  }
}





/* mobile */



#values {
  padding-top: 300px;
  > h2 {
    top: -150px;
    right: -124px;
  }
}
#plusValues {
  padding-top: 300px;
  > h2 {
    top: -80px;
    left: -117px;
  }
}

section.distri article {
  position: relative;
  max-width: 100%;
}

section#values article:before {
  display: block;
  max-width: 100%;
  text-align: center;
}


/* Larger than mobile screen */
@media (min-width: 40.0rem)
{

}

/* Larger than tablet screen */
@media (min-width: 80.0rem)
{
  .section4:after {
    content: url('../img/section-4.svg');
  }

  #values{
    padding-top: 0;
    > h2 {
      top: 120px;
      right: -184px;
    }

  }
  #plusValues {
    padding-top: 0;
    > h2 {
      top: -120px;
      left: -177px;
    }
  }


  section.distri article,
    section.distripara p {
    margin-bottom: 120px;
  }

  section.distripara img {
    position: absolute;
    top: -100px;
    left: 500px;
  }

  section.distri article:nth-child(2n) {
    margin-left: 50%;
  }

  section.distripara h3:nth-of-type(2n+1),
    section.distripara p:nth-of-type(2n+1) {
    left: 540px;
  }

  section.distripara p:nth-of-type(2n+1) img {
    left: -500px;
  }

  section#values article:nth-child(2n+1),
    section#plusValues article:nth-child(2n+1),
    section.distripara h3:nth-of-type(2n),
    section.distripara p:nth-of-type(2n) {
    text-align: right;
  }

  section#values article:before {
    position: absolute;
    right: -150px;
  }

  section#values article:nth-child(2n):before {
    left: -300px;
  }

}
