---
layout: default
---
<section id="secondaire_features" class="distripara">
  <aside class="enterprise">
    {%- assign items = page.enterprise_features.list -%}
    <ul>
      {%- for i in items -%}
      <li> {{ i.item | escape }}
        </li>
      {%- endfor -%}
    </ul>

    <button class="enterprise_click" type="button" onclick="window.location.href='{{ page.enterprise_features.url }}'">
        <span>
          {{ page.enterprise_features.clicktoaction | replace_first: "|", "<br/>" }}

        </span>

    </button>

  </aside>
    {{ content }}
</section>
